<header class="site-header">
    <div class="header-wrap">
        <a class="logo" href="#0">
            <img alt="iam logo" src="https://iamdigipro.com/assets/images/logo2.png" width="179" height="41" />
        </a>
    </div>
    <h1 class="site-title">We are Digital Marketing Company from HYDERABAD</h1>
</header>
<div class="content-wrap">
    <main class="main-posts-list">
        <article class="article">
            <div class="article-img-column">
                <img class="article-img" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg" alt="Человек, идущий по берегу" />
            </div>
            <div class="article-text-column">
                <ul class="tab-list">
                    <li class="tab-item">
                        <a class="tab-link" href="#0">Travel</a>
                    </li>
                    <li class="tab-item">
                        <a class="tab-link" href="#0">Health</a>
                    </li>
                </ul>
                <h2 class="article-title">
                    <a class="article-title-link" href="#0">Technical SEO: What Is It And Why Should You Care?</a>
                </h2>
                <time class="article-datetime" datetime="2024-06-10">10 August 2024</time>
                <cite class="article-author">IAM DIGIPRO</cite>
                <div class="article-content">
                    <p>Technical SEO is the process of optimizing a website for search engines. It involves improving the site’s architecture, code, and structure so that ...</p>
                </div>
            </div>
        </article>
        <article class="article">
            <div class="article-img-column">
                <img class="article-img" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post2.jpg" alt="Йога" />
            </div>
            <div class="article-text-column">
                <ul class="tab-list">
                    <li class="tab-item">
                        <a class="tab-link" href="#0">Health</a>
                    </li>
                    <li class="tab-item">
                        <a class="tab-link" href="#0">Lifestyle</a>
                    </li>
                </ul>
                <h2 class="article-title">
                    <a class="article-title-link" href="#0">Technical SEO: What Is It And Why Should You Care?</a>
                </h2>
                <time class="article-datetime" datetime="2024-06-10">10 August 2024</time>
                <cite class="article-author">IAM DIGIPRO</cite>
                <div class="article-content">
                    <p>Technical SEO is the process of optimizing a website for search engines. It involves improving the site’s architecture, code, and structure so that ...</p>
                </div>
            </div>
        </article>
        <article class="article">
            <div class="article-img-column">
                <img class="article-img" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post3.jpg" alt="Музыкальный фестиваль" />
            </div>
            <div class="article-text-column">
                <ul class="tab-list">
                    <li class="tab-item">
                        <a class="tab-link" href="#">Music</a>
                    </li>
                </ul>
                <h2 class="article-title">
                    <a class="article-title-link" href="#0">Technical SEO: What Is It And Why Should You Care?</a>
                </h2>
                <time class="article-datetime" datetime="2024-06-10">10 August 2024</time>
                <cite class="article-author">IAM DIGIPRO</cite>
                <div class="article-content">
                    <p>Technical SEO is the process of optimizing a website for search engines. It involves improving the site’s architecture, code, and structure so that ...</p>
                </div>
            </div>
        </article>
        <article class="article">
            <div class="article-img-column">
                <img class="article-img" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post4.jpg" alt="Стол с едой" />
            </div>
            <div class="article-text-column">
                <ul class="tab-list">
                    <li class="tab-item">
                        <a class="tab-link" href="#0">Lifestyle</a>
                    </li>
                    <li class="tab-item">
                        <a class="tab-link" href="#0">Food</a>
                    </li>
                </ul>
                <h2 class="article-title">
                    <a class="article-title-link" href="#0">Technical SEO: What Is It And Why Should You Care?</a>
                </h2>
                <time class="article-datetime" datetime="2024-06-10">10 August 2024</time>
                <cite class="article-author">IAM DIGIPRO</cite>
                <div class="article-content">
                    <p>Technical SEO is the process of optimizing a website for search engines. It involves improving the site’s architecture, code, and structure so that ...</p>
                </div>
            </div>
        </article>
        <article class="article">
            <div class="article-img-column">
                <img class="article-img" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post5.jpg" alt="Подушка с надписью 'Hang out spot'" />
            </div>
            <div class="article-text-column">
                <ul class="tab-list">
                    <li class="tab-item">
                        <a class="tab-link" href="#0">Lifestyle</a>
                    </li>
                    <li class="tab-item">
                        <a class="tab-link" href="#0">Interior</a>
                    </li>
                    <li class="tab-item">
                        <a class="tab-link" href="#0">Art</a>
                    </li>
                </ul>
                <h2 class="article-title">
                    <a class="article-title-link" href="#0">Technical SEO: What Is It And Why Should You Care?</a>
                </h2>
                <time class="article-datetime" datetime="2024-06-10">10 August 2024</time>
                <cite class="article-author">IAM DIGIPRO</cite>
                <div class="article-content">
                    <p>Technical SEO is the process of optimizing a website for search engines. It involves improving the site’s architecture, code, and structure so that ...</p>
                </div>
            </div>
        </article>
        <article class="article">
            <div class="article-img-column">
                <img class="article-img" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post6.jpg" alt="Люди на вершине горы" />
            </div>
            <div class="article-text-column">
                <ul class="tab-list">
                    <li class="tab-item">
                        <a class="tab-link" href="#0">Travel</a>
                    </li>
                    <li class="tab-item">
                        <a class="tab-link" href="#0">Lifestyle</a>
                    </li>
                </ul>
                <h2 class="article-title">
                    <a class="article-title-link" href="#">Technical SEO: What Is It And Why Should You Care?</a>
                </h2>
                <time class="article-datetime" datetime="2024-06-10">10 August 2024</time>
                <cite class="article-author">IAM DIGIPRO</cite>
                <div class="article-content">
                    <p>Technical SEO is the process of optimizing a website for search engines. It involves improving the site’s architecture, code, and structure so that ...</p>
                </div>
            </div>
        </article>
        <article class="article">
            <div class="article-img-column">
                <img class="article-img" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post4.jpg" alt="Стол с едой" />
            </div>
            <div class="article-text-column">
                <ul class="tab-list">
                    <li class="tab-item">
                        <a class="tab-link" href="#0">Lifestyle</a>
                    </li>
                    <li class="tab-item">
                        <a class="tab-link" href="#0">Food</a>
                    </li>
                </ul>
                <h2 class="article-title">
                    <a class="article-title-link" href="#0">Technical SEO: What Is It And Why Should You Care?</a>
                </h2>
                <time class="article-datetime" datetime="2024-06-10">10 August 2024</time>
                <cite class="article-author">IAM DIGIPRO</cite>
                <div class="article-content">
                    <p>Technical SEO is the process of optimizing a website for search engines. It involves improving the site’s architecture, code, and structure so that ...</p>
                </div>
            </div>
        </article>
    </main>
    <aside class="sidebar">
        <section class="new-posts">
			<form class="search">
				<input id="search" type="search" class="search-field1" name="search" placeholder="search blogs..." required />
                <button class="search-button1"><span class="visually-hidden"></span></button>
            </form>
            <h2 class="sidebar-title">TOP VISITS</h2>
            <div class="new-posts-list">
                <article class="new-posts-article">
                    <div class="post-img-column">
                        <img class="new-posts-image" src="https://netology-code.github.io/html-2-diploma/sources/images/2.jpg" alt="Человек, идущий по берегу" />
                    </div>
                    <div class="post-text-column">
                        <time class="new-posts-datetime" datetime="2024-06-14">14 August 2024</time>
                        <h3 class="new-posts-title">
                            <a class="new-posts-link" href="#0">Technical SEO: What Is It And Why Should You Care?</a>
                        </h3>
                    </div>
                </article>
                <article class="new-posts-article">
                    <div class="post-img-column">
                        <img class="new-posts-image" src="https://netology-code.github.io/html-2-diploma/sources/images/151.jpg" alt="Йога" />
                    </div>
                    <div class="post-text-column">
                        <time class="new-posts-datetime" datetime="2024-06-14">14 August 2024</time>
                        <h3 class="new-posts-title">
                            <a class="new-posts-link" href="#0">Technical SEO: What Is It And Why Should You Care?</a>
                        </h3>
                    </div>
                </article>
                <article class="new-posts-article">
                    <div class="post-img-column">
                        <img class="new-posts-image" src="https://netology-code.github.io/html-2-diploma/sources/images/45.jpg" alt="Балкон" />
                    </div>
                    <div class="post-text-column">
                        <time class="new-posts-datetime" datetime="2024-06-14">14 August 2024</time>
                        <h3 class="new-posts-title">
                            <a class="new-posts-link" href="#0">Technical SEO: What Is It And Why Should You Care?</a>
                        </h3>
                    </div>
                </article>
                <article class="new-posts-article">
                    <div class="post-img-column">
                        <img class="new-posts-image" src="https://netology-code.github.io/html-2-diploma/sources/images/501.jpg" alt="Стол с едой" />
                    </div>
                    <div class="post-text-column">
                        <time class="new-posts-datetime" datetime="2024-06-14">14 August 2024</time>
                        <h3 class="new-posts-title">
                            <a class="new-posts-link" href="#0">Technical SEO: What Is It And Why Should You Care?</a>
                        </h3>
                    </div>
                </article>

                <article class="new-posts-article">
                    <div class="post-img-column">
                        <img class="new-posts-image" src="https://netology-code.github.io/html-2-diploma/sources/images/7.jpg" alt="Прически" />
                    </div>
                    <div class="post-text-column">
                        <time class="new-posts-datetime" datetime="2024-06-14">14 August 2024</time>
                        <h3 class="new-posts-title">
                            <a class="new-posts-link" href="#0">Technical SEO: What Is It And Why Should You Care?</a>
                        </h3>
                    </div>
                </article>
            </div>
        </section>
		<section class="categories">
            <h2 class="sidebar-title">categories</h2>
            <ul class="category-list">
                <li class="category-item">
                    <a class="category-link" href="#0">Artificial Intelligence<sup class="number">[ 12 ]</sup></a>
                </li>
                <li class="category-item">
                    <a class="category-link" href="#0">Blogging<sup class="number">[ 4 ]</sup></a>
                </li>
                <li class="category-item">
                    <a class="category-link" href="#0">Case Studies<sup class="number">[ 145 ]</sup></a>
                </li>
                <li class="category-item">
                    <a class="category-link" href="#0">content marketing<sup class="number">[ 28 ]</sup></a>
                </li>
                <li class="category-item">
                    <a class="category-link" href="#0">Digital Marketing<sup class="number">[ 62 ]</sup></a>
                </li>
                <li class="category-item">
                    <a class="category-link" href="#0">Email Marketing<sup class="number">[ 8 ]</sup></a>
                </li>
            </ul>
        </section>
		<section class="tags1">
            <h2 class="sidebar-title">TOP BLOGS</h2>
            <ul class="tags-list">
                <li class="tags-item">
                    <a class="tags-link" href="#0">Digital Marketing</a>
                </li>
                <li class="tags-item">
                    <a class="tags-link" href="#0">SEO</a>
                </li>
                <li class="tags-item">
                    <a class="tags-link" href="#0">SOCIAL MEDIA</a>
                </li>
                <li class="tags-item">
                    <a class="tags-link" href="#0">ANIMATION</a>
                </li>
                <li class="tags-item">
                    <a class="tags-link" href="#0">Email Marketing</a>
                </li>
                <li class="tags-item">
                    <a class="tags-link" href="#0">SEM</a>
                </li>
                <li class="tags-item">
                    <a class="tags-link" href="#0">WEB DEVELOPMENT</a>
                </li>
                <li class="tags-item">
                    <a class="tags-link" href="#0">OTHERS</a>
                </li>
            </ul>
        </section>
        <section class="subscription">
            <h2 class="sidebar-title">INQUIRY</h2>
            <form class="subscription-form">
                <input id="email" type="email" class="subscription-field" name="email" placeholder="Enter email..." required />
				<input id="mobileNumber" type="number" class="subscription-field" name="mobileNumber" placeholder="Mobile number..." required />
				<button class="subscription-button">SUBMIT</button>
            </form>
        </section>
    </aside>
</div>
 

