<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>    
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
        <link rel="stylesheet" href="../../styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/6cfb21434c.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/a199c68c5e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
     </head>
<body>

 <!-- HTML -->

<div class="contact-section">
    <div class="blogs-frontpage-card1">
        <!-- <h>Consult Us</h> -->
        <h1>Consult us</h1>
    </div>
</div>


<div class="scroll-container-wrapper">
    <div class="scroll-container">
        <div class="container">
            <div class="box" style="background-color: #ffd5ba;">
                <div class="box-content">
                    <span>01</span>
                    <h3>Search Engine Optimization</h3>
                    <p>Dominate search results and attract more organic traffic to your website with our cutting-edge SEO strategies. We focus on boosting your site’s visibility and credibility, ensuring long-term growth.
                    </p>
                    <div class="tags">
                        <div class="tag" routerLink="/searchengineoptimization">More Details</div>
                    </div>
                </div>
            </div>
            <div class="box" style="background-color: #fcebbc;">
                <div class="box-content">
                    <span>02</span>
                    <h3>Search Engine Marketing</h3>
                    <p>Get immediate results with our targeted paid advertising campaigns. We optimize your ad spend to deliver the best possible ROI, driving quality traffic and conversions.
                    </p>
                    <div class="tags">
                        <div class="tag" routerLink="/searchenginemarketing">More Details</div>
                    </div>
                </div>
            </div>
            <div class="box" style="background-color: #bafdff;">
                <div class="box-content">
                    <span>03</span>
                    <h3>Social Media Optimization</h3>
                    <p>Transform your social media channels into powerful marketing tools. Our SMO services enhance engagement, increase followers, and create a consistent brand presence across all platforms.
                    </p>
                    <div class="tags">
                        <div class="tag" routerLink="/socialmediaoptimization">More Details</div>
                    </div>
                </div>
            </div>
            <div class="box" style="background-color: #e0d9ff;">
                <div class="box-content">
                    <span>04</span>
                    <h3>Graphic UI/UX Design</h3>
                    <p>Make your brand unforgettable with our creative graphic and UI design services. We craft visually stunning designs that are not only beautiful but also intuitive and user-friendly.
                    </p>
                    <div class="tags">
                        <div class="tag" routerLink="/graphicuidesign">More Details</div>
                    </div>
                </div>
            </div>
            <div class="box" style="background-color: #c5baff;">
                <div class="box-content">
                    <span>05</span>
                    <h3>Influencer Marketing</h3>
                    <p>Amplify your brand’s voice through powerful influencer partnerships. We connect you with influencers who resonate with your target audience, helping you build trust and expand your reach.
                    </p>
                    <div class="tags">
                        <div class="tag" routerLink="/influencermarketing">More Details</div>
                    </div>
                </div>
            </div>
            <div class="box" style="background-color: #ffd5ba;">
                <div class="box-content">
                    <span>06</span>
                    <h3>Web/App Development</h3>
                    <p>Create seamless digital experiences with our web and app development services. We design responsive, user-friendly platforms that not only look great but also deliver exceptional performance.
                    </p>
                    <div class="tags">
                        <div class="tag" routerLink="/webappdevelopment">More Details</div>
                    </div>
                </div>
            </div>
            <div class="box" style="background-color: #fcebbc;">
                <div class="box-content">
                    <span>07</span>
                    <h3>Content Development & Marketing</h3>
                    <p> From compelling blog posts to captivating videos, our content strategies are designed to drive traffic and convert leads.</p>
                    <div class="tags">
                        <div class="tag" routerLink="/contentdevelopmenMarketing">More Details</div>
                    </div>
                </div>
            </div>
            <div class="box" style="background-color: #bafdff;">
                <div class="box-content">
                    <span>08</span>
                    <h3>Lead Generation-B2B & B2C</h3>
                    <p>Fuel your business growth with our targeted lead generation services. Whether you're in B2B or B2C, we help you connect with the right prospects and drive sales.
                    </p>
                    <div class="tags">
                        <div class="tag" routerLink="/leadgeneration">More Details</div>
                    </div>
                </div>
            </div>
            <div class="box" style="background-color: #e0d9ff;">
                <div class="box-content">
                    <span>09</span>
                    <h3>Consulting</h3>
                    <p>Unlock your business’s full potential with our expert consulting services. We provide you with actionable insights and strategies tailored to your unique needs, helping you stay ahead of the competition.</p>
                    <div class="tags">
                        <div class="tag" routerLink="/consulting">More Details</div>
                    </div>
                </div>
            </div>
            <div class="box" style="background-color: #c5baff;">
                <div class="box-content">
                    <span>10</span>
                    <h3>Email Marketing</h3>
                    <p>Keep your audience engaged with targeted email campaigns that drive results. We create personalized strategies that nurture leads and turn one-time visitors into repeat customers.
                    </p>
                    <div class="tags">
                        <div class="tag" routerLink="/emailmarketing">More Details</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <div class="left-section">
        <h5 style="font-weight: 500;">IAM Digipro and we are here to serve!</h5>
        <h5>How can we help you?</h5>
        <h4 style="padding:15px 0px;">Our Location</h4>
        <p style="font-size: medium;">India<br>
            HUDA COLONY Chandanagar Hyderabad<br>
        Mon – Fri: 9:30 AM – 6:00 PM<br>
        (040) 66746684<br>
        +91 93817 76396
    </p>
        <!-- <p style="font-size: medium;">Email us at:<br>
        info@iamdigipro.com</p> -->
        <div class="map-image">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3873.695086108094!2d78.37834391483237!3d17.493360403492503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb90dbe37eeacd%3A0x8a505b7427e4ff!2sManjeera%20Majestic%20Commercial%2C%20JNTU%20Rd%2C%20Kukatpally%20Housing%20Board%20Colony%2C%20Kukatpally%2C%20Hyderabad%2C%20Telangana%20500085!5e0!3m2!1sen!2sin!4v1594216394392!5m2!1sen!2sin" style="border:0; width: 100%; height: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    
    <div class="right-section">
        <form style="display: flex;">
            <div class="text-container-cnt">
                <!-- <form class="orange-form-cnt pt-8">
                    <div class="enquiry-contact-section">
                        <div class="enquiry-contact-form-container"> -->
                            <form class="enquiry-contact-form" (ngSubmit)="onSubmit()">
                                <label for="name">IAM</label>
                                <input type="text" id="name" name="name" placeholder="John" [(ngModel)]="contactForm.username" required>
                    
                                <label for="phone">Phone number</label>
                                <input type="text" id="phone" name="phone" placeholder="" [(ngModel)]="contactForm.phonenumber" 
                                required>
                    
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" placeholder="iam@gmail.com" [(ngModel)]="contactForm.email" 
                                required>
                    
                                <label for="description">Tell us a little about the project...</label>
                                <textarea id="description" name="description" [(ngModel)]="contactForm.description"></textarea>
                    
                                <label for="services">How can we help?</label>
                                <div class="enquiry-checkbox-group">
                                    <label><input type="checkbox" name="services" value="Digital Marketing" (change)="onServiceChange($event)"> Digital Marketing</label>
                                    <label><input type="checkbox" name="services" value="Web Development" (change)="onServiceChange($event)"> Web Development</label>
                                    <label><input type="checkbox" name="services" value="Graphic Design" (change)="onServiceChange($event)"> Graphic Design</label>
                                    <label><input type="checkbox" name="services" value="Consulting" (change)="onServiceChange($event)"> Consulting</label>
                                    <label><input type="checkbox" name="services" value="Influencer Marketing" (change)="onServiceChange($event)"> Influencer Marketing</label>
                                    <label><input type="checkbox" name="services" value="Other" (change)="onServiceChange($event)"> Other</label>
                                </div>
                                <button class="cnt-btn">Let's get started!</button>
                            </form>
                        </div>
                    <!-- </div>
                </form>
                </div> 
              </div> -->
            <!-- <div class="input-container-cnt">
                <div class="name-container-cnt">
                    <label class="label-cnt" for="name">I am</label>
                    <input class="input-cnt" type="text" name="name" placeholder="Jhon" required />
                </div>
                <div class="email-container-cnt">
                    <label class="label-cnt" for="email">Email</label>
                    <input class="input-cnt" type="text" name="email" placeholder="Iam@gmail.com" required />
                </div>
                <div class="phone-container-cnt">
                    <label class="label-cnt" for="phone">Phone</label>
                    <input class="input-cnt" type="text" name="phone" placeholder="+91" />
                </div>
                <div class="company-container-cnt">
                    <label class="label-cnt" for="company">Company(Optional)</label>
                    <input class="input-cnt" type="text" name="company" placeholder="type your company name.." />
                </div>
                <div class="website-container-cnt">
                    <label class="label-cnt" for="website">Website(Optional)</label>
                    <input class="input-cnt" type="text" name="website" placeholder="type your website name.." />
                </div>
                <div class="button-container-cnt">
                    <button type="submit" name="submit" class="btn-cnt">SEND</button>
                </div>
            </div> -->
        </form>
    </div>
    
</div>   
<div id="social-icons-list" class="knowmore-bottom-contaner">
     <div class="arrow" style="padding: 5%;padding-bottom: 1%;">
        <img src="../assets/images/hand icon.png"  class="arr-right"/>
        
</div> 
<div class="services-ser">
    <h1>Our Platforms</h1>
</div>
    <div class="values-list">
        <div>
            <a href="https://www.instagram.com/iam_digipro?igsh=MzRlODBiNWFlZA==" target="_blank">
                <img src="../assets/images/Social Platforms dps/instagram.png" alt="socialPlatformimage">
                <h2>Instagram</h2>
            </a>
        </div>
        <div>
            <a href="https://www.facebook.com/Imdigipro2024/" target="_blank">
                <img src="../assets/images/Social Platforms dps/facebook.png" alt="socialPlatformimage">
                <h2>Facebook</h2>
            </a>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/iam-digipro-127123313" target="_blank">
                <img src="../assets/images/Social Platforms dps/linkedin.png" alt="socialPlatformimage">
                <h2>LinkedIn</h2>
            </a>
        </div>
        <div>
            <a href="https://x.com/iamdigipro" target="_blank">
                <img src="../assets/images/Social Platforms dps/twitter.png" alt="socialPlatformimage">
                <h2>X</h2>
            </a>
        </div>
        <div>
            <a href="https://www.youtube.com/@IamDigitalPro/featured" target="_blank">
                <img src="../assets/images/Social Platforms dps/utube.png" alt="socialPlatformimage">
                <h2>YouTube</h2>
            </a>
        </div>
        <div>
            <a href="https://in.pinterest.com/iamdigipro2024/" target="_blank">
                <img src="../assets/images/Social Platforms dps/pininterest.png" alt="socialPlatformimage">
                <h2>Pinterest</h2>
            </a>
        </div>
        <div>
            <a href="https://www.quora.com/profile/Iam-DigiPro-1" target="_blank">
                <img src="../assets/images/Social Platforms dps/quora.png" alt="socialPlatformimage">
                <h2>Quora</h2>
            </a>
        </div>
        <div>
            <a href="https://www.threads.net/@iam_digipro" target="_blank">
                <img src="../assets/images/Social Platforms dps/Threads.png" alt="socialPlatformimage">
                <h2>Threads</h2>
            </a>
        </div>
    </div>
</div>
</body>
</html>