<!DOCTYPE html>
<html>
  <head>
    <title>Register Form</title>
    <link rel="stylesheet" href="register-form-popup.component.css" />
  </head>
  <body>
      <div class="modal">
    <div class="modal-content animated-popup">
        <form class="internship-form" (ngSubmit)="onSubmit()">
            <span class="close-btn" (click)="closeModal()">&times;</span>
            <!-- <div class="form-img">
                <img src="https://img.freepik.com/free-vector/join-our-team-concept-illustration_114360-4681.jpg" alt="Join Our Team">
            </div> -->
            <div class="form-fields">
                <h2>Apply for Internship</h2>
                <input type="text" placeholder="Name" [(ngModel)]="contactForm.username" class="input-field">
                <input type="email" placeholder="Email" [(ngModel)]="contactForm.email" class="input-field">
                <input type="text" placeholder="Mobile" [(ngModel)]="contactForm.phonenumber" class="input-field">
                <input type="text" placeholder="Qualification" [(ngModel)]="contactForm.qualification" class="input-field">
                <button class="submit-btn">Submit</button>
            </div>
        </form>
    </div>
</div>

  </body>
</html>