<div class="modal">
    <div class="modal-content">
      <div class="right-section" style="background-color: black;">
        <form class="enquiry-contact-form" (ngSubmit)="onSubmit()">
            <span class="close-btn" (click)="closeModal()">&times;</span>
          <label for="name">IAM</label>
          <input type="text" id="name" name="name" placeholder="John" [(ngModel)]="contactForm.username" required>
  
          <label for="phone">Phone number</label>
          <input type="text" id="phone" name="phone" placeholder="+91 9999900000" [(ngModel)]="contactForm.phonenumber" required>
  
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="iam@gmail.com" [(ngModel)]="contactForm.email" required>
  
          <!-- <label for="description">Tell us a little about the project...</label>
          <textarea id="description" name="description" [(ngModel)]="contactForm.description"></textarea> -->
  
          <label for="services">Select Course</label>
          <div class="enquiry-checkbox-group">
            <label><input type="checkbox" name="services" value="Digital Marketing" (change)="onServiceChange($event)"> Digital Marketing</label>
            <!-- <label><input type="checkbox" name="services" value="Web Development" (change)="onServiceChange($event)"> Web Development</label> -->
            <label><input type="checkbox" name="services" value="Graphic Design" (change)="onServiceChange($event)"> Graphic Design</label>
            <!-- <label><input type="checkbox" name="services" value="Consulting" (change)="onServiceChange($event)"> Consulting</label>
            <label><input type="checkbox" name="services" value="Influencer Marketing" (change)="onServiceChange($event)"> Influencer Marketing</label>
            <label><input type="checkbox" name="services" value="Other" (change)="onServiceChange($event)"> Other</label> -->
          </div>
          <button class="cnt-btn">Book your Slot</button>
        </form>
      </div>
    </div>
  </div>