<div class="modal">
    <div class="modal-content">
      <div class="right-section">
        <form class="enquiry-contact-form" (ngSubmit)="onSubmit()">
          <span class="close-btn" (click)="closeModal()">&times;</span>
  
          <!-- First row: Name and Phone number -->
          <div class="form-row">
            <div class="form-group">
              <label for="name">IAM</label>
              <input type="text" id="name" name="name" placeholder="John" [(ngModel)]="contactForm.username" required>
            </div>
            <div class="form-group">
              <label for="phone">Phone number</label>
              <input type="text" id="phone" name="phone" placeholder="+91 9999900000" [(ngModel)]="contactForm.phonenumber" required>
            </div>
          </div>
  
          <!-- Second row: Email and Course -->
          <div class="form-row">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" placeholder="iam@gmail.com" [(ngModel)]="contactForm.email" required>
            </div>
            <div class="form-group">
              <label for="course">Select Course</label>
              <select id="coursePicklist" name="coursePicklist" [(ngModel)]="contactForm.course" (change)="onCourseChange($event)" required>
                <option value="" disabled selected>Select a Course</option>
                <option value="Graphic Design">Graphic Design</option>
                <option value="Digital Marketing">Digital Marketing</option>
              </select>
            </div>
          </div>
  
          <!-- Third row: Mode and Batch -->
          <div *ngIf="contactForm.course" class="form-row">
            <div class="form-group">
              <label for="mode">Select Mode</label>
              <select id="modePicklist" name="modePicklist" [(ngModel)]="contactForm.mode" (change)="onModeChange($event)" required>
                <option value="" disabled selected>Select Mode</option>
                <option value="Online">Online</option>
                <option value="Offline">Offline</option>
              </select>
            </div>
            <div *ngIf="contactForm.mode" class="form-group">
              <label for="batch">Select Batch</label>
              <select id="batchPicklist" name="batchPicklist" [(ngModel)]="contactForm.batch" required>
                <option value="" disabled selected>Select Batch</option>
                <option value="Morning Batch">Morning Batch</option>
                <option value="Afternoon Batch">Afternoon Batch</option>
              </select>
            </div>
          </div>
  
          <button class="shiny-cta">Book your Slot</button>
        </form>
      </div>
    </div>
  </div>
  