<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Caveat:400,700&subset=cyrillic" rel="stylesheet">
<script src="https://kit.fontawesome.com/4326f6cda5.js"></script>
</head>
<body>
    
<!----------- MAIN section start ----------->	
    <section class="store">
        <img src="https://img.freepik.com/free-vector/digital-marketing-concept-with-online-advertising-media-symbols-flat_1284-31958.jpg?t=st=1725363645~exp=1725367245~hmac=ae331bd46df4a4216c605e85a87a95a57a413f6ceb8fb3a26d424b5f807aaf39&w=740" alt="Digital Marketing Course">
    </section>
    
    <!----------- STORE section start ----------->
    <section class="store">
        <p class="italic-par">Benefits of Taking Our Courses</p>
        <p class="gray-desc">Discover how our courses empower you with essential skills and valuable insights for personal and professional growth.</p>

        <div class="store-items">
            <article>
                <div>
                    <img  style="width: 80px; height: 80px;" src="https://cdn-icons-png.freepik.com/256/2857/2857465.png?ga=GA1.1.1260795034.1725091760&semt=ais_hybrid"/>
                    <!-- <i class="fa fa-camera"></i> -->
                </div>
                <h3>Comprehensive Skill Development</h3>
                <p>Gain expertise in SEO, PPC, social media marketing, and content strategy to excel in the digital landscape.</p>
            </article>
            <article>
                <div>
                    <img  style="width: 80px; height: 80px;" src="https://cdn-icons-png.freepik.com/256/4701/4701534.png?ga=GA1.1.1260795034.1725091760&semt=ais_hybrid"/>
                    <!-- <i class="fa fa-camera"></i> -->
                    <!-- <i class="fa-rocket fa"></i> -->
                </div>
                <h3>Hands-On Experience</h3>
                <p>Work on real-world projects and case studies to apply theoretical knowledge in practical scenarios.
                </p>
            </article>
            <article>
                <div>
                    <img style="width: 80px; height: 80px;" src="https://cdn-icons-png.freepik.com/256/7480/7480092.png?ga=GA1.1.1260795034.1725091760&semt=ais_hybrid"/>
                    <!-- <i class="fa fa-camera"></i> -->
                    <!-- <i class="fab fa-twitter"></i> -->
                </div>
                <h3>Up-to-Date Industry Insights</h3>
                <p>It is very good, if in the kitchen there will always be several bottles with different oils.
                </p>
            </article>
            <article>
                <div>
                    <img  style="width: 80px; height: 80px;" src="https://cdn-icons-png.freepik.com/256/13614/13614425.png?ga=GA1.1.1260795034.1725091760&semt=ais_hybrid"/>
                    <!-- <i class="fa fa-camera"></i> -->
                    <!-- <i class="fab fa-weixin"></i> -->
                </div>
                <h3>Career Advancement Opportunities</h3>
                <p>Enhance your resume with recognized certifications and gain the skills to advance in your career or start a new one in digital marketing.
               </p>
            </article>
        </div>

    </section>
    <!----------- STORE section end ----------->

    <!----------- COMMENTS section start ----------->
    <section class="comments">
        <p class="italic-par">Our Digital Marketing Specialists</p>
        <p class="gray-desc">
            Our Digital Marketing Specialists bring expert knowledge and innovative strategies to drive your online success.
        </p>

        <div class="comments-items">
            <article>
                <img src="https://iamdigipro.com/assets/images/facultyName.jpg" alt="Tharak Beela">
                <p>Sales consultants are very polite. Many of the products have tried and are ready to prompt and recommend to customers. The staff shows that they completely share the philosophy of proper nutrition, if you can say so.</p>
                <h3>Tharak Beela</h3>
                <p>Digital Marketing Expert</p>
                <div class="faculty-icons">
                    <a class="icons-ic"> <i class="fa-brands fa-linkedin"></i></a>
                    <a class="icons-ic"> <i class="fa-brands fa-github"></i></a>
                    <a class="icons-ic"> <i class="fa-brands fa-youtube"></i></a>
                    <a class="icons-ic"> <i class="fa-brands fa-twitter"></i></a>
                 </div>
            </article>
            <article>
                <img src="assets\images\carrersPage\Nagarjuna.jpg" alt="Nagarjuna">
                <p>The assortment is very wide. From useful organic oils, cereals and teas to specific products for vegetarians, such as sausages and pies without meat.</p>
                <h3>Nagarjuna</h3>
                <p>Digital Marketing Advisor</p>
                <div class="faculty-icons">
                   <a class="icons-ic"> <i class="fa-brands fa-linkedin"></i></a>
                   <a class="icons-ic"> <i class="fa-brands fa-github"></i></a>
                   <a class="icons-ic"> <i class="fa-brands fa-youtube"></i></a>
                   <a class="icons-ic"> <i class="fa-brands fa-twitter"></i></a>
                </div>
            </article>
        </div>
    </section>
    <!----------- COMMENTS section end ----------->
   <!----------- Stats section start ----------->	
   <section class="rates">
    <div class="rates-wrap">
        <div class="rates-block">
            <h3>7</h3>
            <p>Year of experiences</p>
        </div>
        <div class="rates-block">
            <h3>83</h3>
            <p>Happy Students</p>
        </div>
        <div class="rates-block">
            <h3>74</h3>
            <p>100% Satisfaction</p>
        </div>
        <div class="rates-block">
            <h3>13</h3>
            <p>Detox Smoothies</p>
        </div>
    </div>
</section>
<br><br>
<!----------- STATS section end ----------->


    <!-- TABLE -->
    <table>
        <thead>
            <tr>
                <th><label>COURSES</label></th>
                <th><label>Batch</label></th>
                <th><label>Starts On</label></th>
                <th><label>Amount</label></th>
                <th><label>Course Mode</label></th>
                <th><label>Reserve</label></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="Invoice">Digital Marketing</td>
                <td data-label="Details">Morning Batch</td>
                <td data-label="Due Date">August 13, 2024</td>
                <td data-label="Amount">24999.00</td>
                <td data-label="Course Mode">
                    <input type="checkbox" id="online1" name="courseMode1" value="Online">
                    <label for="online1">Online</label><br>
                    <input type="checkbox" id="offline1" name="courseMode1" value="Offline">
                    <label for="offline1">Offline</label>
                </td>
                <td data-label="Payment"><button class="btn-bs" (click)="openModal()">Book Slot</button>
                    <app-book-slot-popup *ngIf="showModal" (close)="closeModal()"></app-book-slot-popup></td>
            </tr>
            <tr>
                <td data-label="Invoice">Graphic Designing</td>
                <td data-label="Details">Morning Batch</td>
                <td data-label="Due Date">July 13, 2024</td>
                <td data-label="Amount">24999.00</td>
                <td data-label="Course Mode">
                    <input type="checkbox" id="online2" name="courseMode2" value="Online">
                    <label for="online2">Online</label><br>
                    <input type="checkbox" id="offline2" name="courseMode2" value="Offline">
                    <label for="offline2">Offline</label>
                </td>
                <td data-label="Payment"><button class="btn-bs" (click)="openModal()">Book Slot</button>
                    <app-book-slot-popup *ngIf="showModal" (close)="closeModal()"></app-book-slot-popup></td>
            </tr>
            <tr>
                <td data-label="Invoice">Digital Marketing</td>
                <td data-label="Details">Afternoon Batch</td>
                <td data-label="Due Date">June 13, 2024</td>
                <td data-label="Amount">24999.00</td>
                <td data-label="Course Mode">
                    <input type="checkbox" id="online3" name="courseMode3" value="Online">
                    <label for="online3">Online</label><br>
                    <input type="checkbox" id="offline3" name="courseMode3" value="Offline">
                    <label for="offline3">Offline</label>
                </td>
                <td data-label="Payment"><button class="btn-bs" (click)="openModal()">Book Slot</button>
                    <app-book-slot-popup *ngIf="showModal" (close)="closeModal()"></app-book-slot-popup></td>
            </tr>
            <tr>
                <td data-label="Invoice">Graphic Designing</td>
                <td data-label="Details">Afternoon Batch</td>
                <td data-label="Due Date">May 13, 2024</td>
                <td data-label="Amount">24999.00</td>
                <td data-label="Course Mode">
                    <input type="checkbox" id="online4" name="courseMode4" value="Online">
                    <label for="online4">Online</label><br>
                    <input type="checkbox" id="offline4" name="courseMode4" value="Offline">
                    <label for="offline4">Offline</label>
                </td>
                <td data-label="Payment"><button class="btn-bs" (click)="openModal()">Book Slot</button>
                    <app-book-slot-popup *ngIf="showModal" (close)="closeModal()"></app-book-slot-popup></td>
            </tr>
        </tbody>
    </table>
    
<!--  TABLE END -->

<!----------- STORE section start ----------->
<section class="store">
    <p class="italic-par">This fee accounts for</p>
    <p class="gray-desc">
        This payment provides for all necessary services and resources.
    </p>

    <div class="store-items">
        <article>
            <div class="cr-si">3 Months of Intensive Learning</div>
         </article>
        <!-- <article>
            <div class="cr-si">Expert Faculty</div>
        </article> -->
        <article>
            <div class="cr-si">Certification</div>
        </article>
        <article>
            <div class="cr-si">Internship Support</div>
        </article>
    </div>

</section>
<!----------- STORE section end ----------->
    <!----------- VIDEO section start ----------->	
    <section class="vimeo">
        <div>
            <h2>Overview</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mq508HXzccI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>
    <!----------- VIDEO section end ----------->	

    <section class="contacts">
        <div class="contacts-wrap">
            <div class="left-block">
                <p class="italic-par">Contact Us</p>
                <h2>Address Information</h2>
                <p class="contacts-desc">Overeating is one of the most common causes of overweight and digestive problems.</p>
                <br>
                <h3>IAM Digipro</h3>
                <br>
                <p class="contacts-break">
                    HUDA COLONY, Chandanagar, Hyderabad <br>
                    Flat NO.302, D2/17/19<br>
                    Mon – Fri: 9:30 AM – 6:00 PM<br>
                    info&#64;iamdigipro.in
                </p>
            </div>

            <div class="right-block">
                <p class="italic-par">Meet Our Team</p>
                <h2>Get In Touch</h2>
                <form>
                    <div>
                        <input class="input-item" type="text" name="name" placeholder="Name">
                    </div>
                    <div>
                        <input class="input-item" type="tel" name="phone" placeholder="Phone">
                    </div>
                    <div>
                        <input class="input-item" type="email" name="email" placeholder="Email">
                    </div>
                    <div>
                        <input class="input-item" type="text" name="message" placeholder="Message">
                    </div>
                    <div>
                        <input class="btn-submit" type="submit" name="submit" value="Submit Now">
                    </div>
                </form>
            </div>
        </div>
    </section>
<!----------- MAIN section end ----------->
</body>
</html>