<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>    
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
        <link rel="stylesheet" href="../../styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/6cfb21434c.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/a199c68c5e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
     </head>
<body>
    <!--front page-->
    <div>
        <img src="https://media.licdn.com/dms/image/C4E12AQFRhN1A7Fw7Gw/article-cover_image-shrink_720_1280/0/1520102045204?e=2147483647&v=beta&t=2NNVMz-o2msAEVNna8krKlyVvisX9aVhi4-jmIVfof0" class="home-content">
    </div>

    <div class="intern" id="internshipSupportSection">
      <div class="arrow d-flex justify-content-center">
         <img src="../assets/images/hand icon.png"  class="arr-right"/>
         <h1 class="services-ser">Internship Support</h1>
    </div>
      <h1 class="ship">
          Digital Marketing Course with Internship and Stipend
      </h1>
      <p class="des-par">
          Our Digital Marketing Course at IAM DIGIPRO is designed to provide you with comprehensive training and real-world experience, ensuring you are well-prepared for a successful career in digital marketing. This course is structured like an internship, allowing you to apply your learning in practical settings and gain valuable hands-on experience.
      </p>
      <p class="des-par">
          Gain hands-on experience through a three-month internship, with a <br/> <span class="span-par">performance-based stipend of 5,999 Rs/-</span>  awarded at the end.
      </p>
      <button class="app-btn">Apply now</button>
  </div><br>
    
    <!--case studies-->
    <div>
        <div class="arrow d-flex justify-content-center">
            <img src="../assets/images/hand icon.png"  class="arr-right"/>
            <h1 class="services-ser">Case Studies</h1>
        </div>
        <div class="d-flex flex-row justify-content-center" style="margin-bottom: 100px;">
           <div class="case-studies-container">
              <img src="https://st2.depositphotos.com/2119479/7679/i/950/depositphotos_76796041-stock-photo-digital-marketing.jpg" style="width:100%">
              <!-- <button class="explore-button">Explore <i class="fa-solid fa-arrow-right arr-right right"></i></button> -->
           </div>
        </div>
    </div>
    

   </body>
</html>
