<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet" />
        <title>Job opportunity</title>
    </head>
<body id="top">
    <main class="internship-cl">
        <article>
        
               <!-- HERO-->
               <section class="hero" id="home">
                <div class="container">
                    <div class="hero-content">
                        <p class="hero-subtitle">We are Digital Marketing Company from HYDERABAD</p>

                        <h2 class="h2 hero-title">Build Expertise with Our Professional Training Program</h2>

                        <p class="hero-text">Gain hands-on experience and industry-relevant skills through our expertly designed training sessions. Elevate your career with personalized guidance and real-world projects.</p>

                        <button class="btn" (click)="openModal()" style="padding:12px 35px; font-size: 1.5rem;">Apply Now</button>
                        <app-contact-form-popup *ngIf="showModal" (close)="closeModal()"></app-contact-form-popup>
                    </div>

                    <figure class="hero-banner">
                        <img src="assets\images\carrersPage\training.png" width="95%" height="529" loading="lazy" alt="hero-banner" class="w-95 banner-animation" />
                    </figure>
                </div>
            </section>

            <!--ABOUT-->

            <section class="section about" id="about">
                <div class="container">
                    <figure class="about-banner">
                        <img src="https://github.com/codewithsadee/desinic/blob/master/assets/images/about-banner.png?raw=true" width="95%" height="532" loading="lazy" alt="about banner" class="w-95 banner-animation" />
                    </figure>

                    <div class="about-content">
                        <h2 class="h2 section-title underline">About the Course</h2>

                        <p class="about-text">
                            Explore the intersection of <b>Digital Marketing</b> and <b>Graphic Designing</b> in this comprehensive course. Gain the skills to create <b>compelling visuals</b> and <b>drive successful online campaigns</b>, all while mastering the latest industry <b>tools and techniques</b>. <b>Benefit from personalized feedback and support</b> as you work on real-world projects. <b>Network with industry professionals</b> and enhance your career prospects. Perfect for those looking to excel in these <b>creative and dynamic fields</b>.                        
                        </p>

                        <ul class="stats-list">
                            <li class="stats-card">
                                <p class="h3 stats-title">487</p>

                                <p class="stats-text">Satisfied Interns</p>
                            </li>

                            <li class="stats-card">
                                <p class="h3 stats-title">354</p>

                                <p class="stats-text">Live Projects</p>
                            </li>

                            <li class="stats-card">
                                <p class="h3 stats-title">1</p>

                                <p class="stats-text">Years Completed</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <!-- 
          - #SERVICE
        -->

            <section class="section service" id="services">
                <div class="container">
                    <h2 class="h2 section-title underline">Unlock Your Potential with Our Expert-Led Courses</h2>

                    <ul class="service-list">
                        <li>
                            <div class="service-card">
                                <img src="https://5.imimg.com/data5/TE/UD/QM/SELLER-40199849/advanced-digital-marketing-course-1000x1000.jpg">
                                <h3 class="h3 title">Digital Marketing</h3>

                                <p class="text-int">
                                    Gain hands-on experience in SEO, SEM, and social media marketing. Learn to develop strategies that enhance online visibility, drive traffic, and increase conversions.
                                </p>
                                <div >
                                    <div class="btn-group">
                                        <button class="btn" (click)="openModal()" style="border-top-right-radius:25px ;">Apply Now</button>
                                        <app-contact-form-popup *ngIf="showModal" (close)="closeModal()"></app-contact-form-popup>
                                        <button class="btn-icon" (mouseenter)="showTooltip()" (mouseleave)="hideTooltip()">
                                            <fa-icon [icon]="faDownload"></fa-icon>
                                            <span class="tooltip" *ngIf="tooltipVisible">Download course details</span>
                                          </button>
                                          <a routerLink="/training/digitalmarketingcourse"> <button class="btn-1">Read More</button></a>
                                    </div>
                            </div>
                            </div>
                        </li>

                        <li>
                            <div class="service-card">
                                <img src="assets\images\carrersPage\Graphic Design.jpeg">
                               
                                <h3 class="h3 title">Graphic Design</h3>

                                <p class="text-int">
                                    Create impactful visual content and user-friendly interfaces. Enhance your skills in branding, logo design, and UI/UX.
                                </p>
                                <br>
                                <div class="btn-group">
                                    <button class="btn" (click)="openModal()" style="border-top-right-radius:25px ;">Apply Now</button>
                                    <app-contact-form-popup *ngIf="showModal" (close)="closeModal()"></app-contact-form-popup>
                                    <button class="btn-icon" (mouseenter)="showTooltip()" (mouseleave)="hideTooltip()">
                                        <fa-icon [icon]="faDownload"></fa-icon>
                                        <span class="tooltip" *ngIf="tooltipVisible">Download course details</span>
                                      </button>
                                   <a routerLink="/training/graphicdesignCourse"> <button class="btn-1">Read More</button></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

            <!-- 
          - #FEATURES
        -->

            <section class="section features" id="features">
                <div class="container">
                    <h2 class="h2 section-title underline">Our Features</h2>

                    <ul class="features-list">
                        <li>
                            <div class="features-card">
                               <div class="icon">
                                    <ion-icon name="bulb-outline"></ion-icon>
                                </div> 

                                <div class="content-int">
                                    <h3 class="h3 title">Expert-Led Instruction</h3>

                                    <p class="text-int">
                                        Learn from industry leaders who bring real-world experience and insights.
                                    </p>
                                </div>
                            </div>  
                        </li>

                        <li>
                            <div class="features-card">
                                <div class="icon">
                                    <ion-icon name="color-palette-outline"></ion-icon>
                                </div>

                                <div class="content-int">
                                    <h3 class="h3 title">Hands-On Projects</h3>

                                    <p class="text-int">
                                        Engage in practical exercises and real-world assignments to apply your knowledge.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <figure class="features-banner">
                        <img src="https://raw.githubusercontent.com/codewithsadee/desinic/master/assets/images/feautres-banner.png" width="369" height="318" loading="lazy" alt="Features Banner" class="w-100 banner-animation" />
                    </figure>

                    <ul class="features-list">
                        <li>
                            <div class="features-card">
                                <div class="icon">
                                    <ion-icon name="code-slash-outline"></ion-icon>
                                </div>

                                <div class="content-int">
                                    <h3 class="h3 title">Flexible Learning</h3>

                                    <p class="text-int">
                                        Access course materials anytime, anywhere, and learn at your own pace.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="features-card">
                                <div class="icon">
                                    <ion-icon name="rocket-outline"></ion-icon>
                                </div>

                                <div class="content-int">
                                    <h3 class="h3 title">Personalized Feedback</h3>

                                    <p class="text-int">
                                        Receive tailored guidance and support to enhance your learning journey.    
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

            <!-- 
          - #BLOG
        -->

        <!-- <section class="section service" id="services">
            <div class="container">
                <h2 class="h2 section-title underline">Our Courses</h2>

                <ul class="service-list">
                    <li>
                        <div class="service-card">
                            <div class="card-icon">
                                <ion-icon name="telescope-outline"></ion-icon>
                            </div>

                            <h3 class="h3 title">Digital Marketing</h3>

                            <p class="text-int">
                                Mauris ut felis malesuada eros varius tristique a at orci. Nulla vulputate, leo sit amet rhoncus suscipit, enim ex venenatis ipsum, et porttitor.
                            </p>
                            <button class="btn">Book Now</button>
                            <button class="card-btn" aria-label="Show More">
                                <ion-icon name="chevron-forward-outline"></ion-icon>
                            </button>
                        </div>
                    </li>

                    <li>
                        <div class="service-card">
                            <div class="card-icon">
                                <ion-icon name="desktop-outline"></ion-icon>
                            </div>

                            <h3 class="h3 title">Web Development</h3>

                            <p class="text-int">
                                Mauris ut felis malesuada eros varius tristique a at orci. Nulla vulputate, leo sit amet rhoncus suscipit, enim ex venenatis ipsum, et porttitor.
                            </p>
                            <button class="btn">Book Now</button>
                            <button class="card-btn" aria-label="Show More">
                                <ion-icon name="chevron-forward-outline"></ion-icon>
                            </button>
                        </div>
                    </li>

                    <li>
                        <div class="service-card">
                            <div class="card-icon">
                                <ion-icon name="globe-outline"></ion-icon>
                            </div>

                            <h3 class="h3 title">Grafical Designer</h3>

                            <p class="text-int">
                                Mauris ut felis malesuada eros varius tristique a at orci. Nulla vulputate, leo sit amet rhoncus suscipit, enim ex venenatis ipsum, et porttitor.
                            </p>
                            <button class="btn">Book Now</button>
                            <button class="card-btn" aria-label="Show More">
                                <ion-icon name="chevron-forward-outline"></ion-icon>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </section> -->
    </article>
    </main>
</body>
</html>